.boton_explicacio_diseny {
	margin-top: 6%;	
}

hr {
	border-color: #18a3eb !important
}

a {
	text-decoration: none !important;
}

.divs_contingut {
	position: relative;
    padding: 32px !important;
    border-radius: 20px !important;
    border: 2px solid #18a3eb !important;
}


.oscuro{ 
    background-color: #1f1f1f; 
    color: #f1eded; 
}

p {
	color: black !important;
}

h2, h4{
	color: black !important;	
}

